body {
    font-family: arial;
    line-height: 1.6em;
    background-color: #d3d3d3;
    margin: 0;
    padding: 0;
}

.countainer {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

#Main {
    text-align: center;
    margin: 60px 20px 60px 20px;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#Main>div {
    display: flex;
    align-items: center;
}


/* SignIn Part */

#SignIn {
    padding-top: 10%;
    padding-bottom: 10%;
    width: 60%;
    background-color: white;
    border-radius: 25px 0px 0px 25px;
    height: 400px;
}

#SignIn h2 {
    font-size: xx-large;
    color: #B4AFCF;
}

#SignIn p {
    color: gray;
}

#SignInForm {
    list-style-type: none;
}

#SignInForm li input {
    background-color: #F4F8F7;
    border: none;
    width: 90%;
    margin: 5px;
    padding: 10px;
    box-sizing: border-box;
}

#SignInForm input[type=email] {
    background-image: url('../images/email-icon.png');
    background-size: 20px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
}

#SignInForm input[type=password] {
    background-image: url('../images/password-icon.png');
    background-size: 19px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
}

#SignInForm li input:focus {
    outline: none;
    background-color: #b4afcf98;
    border: 3px solid #B4AFCF;
}

#SignInForm li a {
    text-decoration: none;
    color: black;
    font-size: 13px;
}

#SignInForm input[type=button] {
    background-color: #B4AFCF;
    border-radius: 50px;
    color: white;
    padding: 16px 16px;
    cursor: pointer;
}


/* SignUp Part */

#SignUp {
    padding-top: 10%;
    padding-bottom: 10%;
    width: 30%;
    background-color: #B4AFCF;
    border-radius: 0px 25px 25px 0px;
    height: 400px;
    color: white;
}

#SignUp a {
    text-decoration: none;
    color: white;
}

#SignUpButton {
    text-decoration: none;
    border: solid 2px #F4F8F7;
    border-radius: 50px;
    color: white;
    padding: 16px 16px;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    #Main {
        flex-direction: column;
    }
    #SignIn {
        border-radius: 25px 25px 0px 0px;
        width: 100%;
        height: 60%;
    }
    #SignUp {
        border-radius: 0px 0px 25px 25px;
        width: 100%;
        height: 30%;
    }
}